<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="conn_type" value="0" />
    <add key="access_conn" value="App_data\slcms.mdb" />
    <!-- 
 conn_type等于0，连接access 等于1，连接sql server
 sql_conn设置 sql server连接字符串
 Access_conn设置 Access连接字符串
-->
    <add key="sql_conn" value="server='localhost'; database='slcms';uid=sa;pwd=sa" />
    <!--链接现有数据库start-->
    <add key="sql_conn1" value="server='211.149.247.91,7003'; database='天源充值订单管理项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn2" value="server='211.149.247.91,7003'; database='天源订单管理项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn3" value="server='211.149.247.91,7003'; database='天源短信服务项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn4" value="server='211.149.247.91,7003'; database='天源会员储值项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn5" value="server='211.149.247.91,7003'; database='天源凭据管理项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn6" value="server='211.149.247.91,7003'; database='天源轻量型服务地图项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn7" value="server='211.149.247.91,7003'; database='天源轻型服务项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn8" value="server='211.149.247.91,7003'; database='天源商城购买组合商品返现活动项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn9" value="server='211.149.247.91,7003'; database='天源商城小票打印项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn10" value="server='211.149.247.91,7003'; database='天源商品服务销售项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn11" value="server='211.149.247.91,7003'; database='天源通用评价系统';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn12" value="server='211.149.247.91,7003'; database='天源账号管理项目';uid=fyfox;pwd=fyfox123" />
    <add key="sql_conn13" value="server='211.149.247.91,7003'; database='天源账号资料修改申请项目';uid=fyfox;pwd=fyfox123" />
    <!--链接现有数据库end-->
    <!--调用原系统数据 配送权限和凭证权限 start-->
    <!--<add key="ps_url" value="http://test11.thishttp.com:82/getid.aspx" />
    <add key="pj_url" value="http://test9.thishttp.com:82/getid.aspx" />-->

    <add key="ps_url" value="http://tylogistics-test.cqtyrl.com/ps_getid.aspx" />
    <add key="pj_url" value="http://tycredential-test.cqtyrl.com/pj_getid.aspx" />
    <!--调用原系统数据 配送权限和凭证权限 end-->
    <add key="web_url" value="www.cdsile.com" />
    <add key="gs_name" value="天源运输" />
    <add key="Prefix" value="sl_" />
    <add key="install" value="1" />
    <add key="bianma" value="gb2312" />
    <add key="template" value="default" />
    <add key="templatewap" value="m" />
    <add key="Suffix" value=".html" />
    <add key="line" value="_" />
    <add key="yunfei" value="0" />
    <add key="mianyunfei" value="200" />
    <add key="othersql" value="" />
    <add key="login" value="" />
    <add key="fenxiao" value="yes" />
    <add key="guanzhu" value="/erweima.jpg" />
    <add key="appid" value="" />
    <add key="AppSecret" value="" />
    <!--<add key="appid" value="wx906f9ab407856a54" />
    <add key="AppSecret" value="acb4ecf3f2edc5e1a727378e1a9ceb74" />-->
    <add key="ffmpeg" value="\inc\tool\ffmpeg.exe" />
    <!--图片大小-->
    <add key="imgSize" value="282x184" />
    <add key="widthSize" value="868" />
    <add key="heightSize" value="458" />

    <!--小程序参数-->
    <add key="wx_xcx_appid" value="wxa0e00ca7b4613902" />
    <add key="wx_xcx_secret" value="307080de3735db8cd6e9216022ac3aa7" />
 
    <!--订单的配送距离 单位 米-->
    <add key="peisongjuli" value="100" />

    <!--订单的配送异常距离 单位 米-->
    <add key="peisongyichangjuli" value="1000" />
    
    
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime
   executionTimeout="1200"
   maxRequestLength="102400"
   useFullyQualifiedRedirectUrl="false"
   minFreeThreads="8"
   minLocalRequestFreeThreads="4"
   appRequestQueueLimit="100"

   />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" urlLinePragmas="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1024000" />
    <authentication mode="Windows" />
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false">
    </pages>
    <sessionState mode="InProc" timeout="20" cookieless="false" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="/" />-->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.asp" />
        <add value="index.php" />
        <add value="default.aspx" />
        <add value="default.asp" />
        <add value="index.htm" />
        <add value="index.aspx" />
        <add value="default.php" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="0" path="/" responseMode="Redirect" />
      <error statusCode="404" subStatusCode="1" path="/" responseMode="Redirect" />
      <error statusCode="404" subStatusCode="2" path="/" responseMode="Redirect" />
      <error statusCode="404" subStatusCode="3" path="/" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
</configuration>